<!-- views/partials/chatprofile.ejs -->
<!doctype html>
<div class="container">
  <div ng-controller="docsController">

    <div>
      <input type="button" value="TREE MODEL 1" data-ng-click="fileTree = roleList1" /> 
      <input type="button" value="TREE MODEL 2" data-ng-click="fileTree = roleList2" />
      <input type="button" value="FILE TREE" data-ng-click="fileTree = tree" />
    </div>

    <div style="margin:10px 0 30px 0; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;">
      <span><b>Selected Node</b> : {{abc.currentNode.id}}</span>
    </div>

    <!--
      [TREE attribute]
      angular-treeview: the treeview directive
      tree-model : the tree model on $scope.
      node-id : each node's id
      node-label : each node's label
      node-children: each node's children
    -->
    <div
      data-angular-treeview="true"
      data-tree-id="abc"
      data-tree-model="fileTree"
      data-node-id="id"
      data-node-label="name"
      data-node-children="children" >
    </div>

  </div>
</div>
