<!-- views/index.ejs -->
<!doctype html>
<html ng-app="mainApp">
<head>
    <title>Node and Angular</title>
    <script src="/lib/jquery.js" type="text/javascript"></script>
    <script src="/lib/angular-file-upload-html5-shim.min.js" type="text/javascript"></script>
    <script src="/lib/angular.min.js" type="text/javascript"></script>
    <script src="/lib/angular-file-upload.js" type="text/javascript"></script>
    <script src="/lib/angular-route.min.js" type="text/javascript"></script>
    <script src="/lib/ui-bootstrap-custom-tpls-0.10.0.min.js" type="text/javascript"></script>
    <script src="/lib/angular-animate.min.js" type="text/javascript"></script>
    <script src="/services/userService.js" type="text/javascript"></script>
    <script src="filters.js" type="text/javascript"></script>
    <script src="mainapp.js" type="text/javascript"></script>
    <script src="/lib/dragNdrop.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="/ctrls/accordionController.js" type="text/javascript"></script>
    <script src="/ctrls/chatboxController.js" type="text/javascript"></script>
    <script src="/services/WSservice.js" type="text/javascript"></script>
    <!--script src="/ctrls/loginController.js" type="text/javascript"></script-->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <style>
    	body { padding-top:0px; }
		/*body 		{ padding-top:80px; word-wrap:break-word; } */
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
        html,
        body { margin:0; padding:0; height:100%; }
        #viewport { min-height:100%; position:relative; }
        #chatboxes{ position: fixed; bottom: 0; right: 0; z-index: 10; }
        .chatbox{ display: none; margin-right: 10px; float: left; background: #000; border-radius:7px; width:200px; z-index: 10; }
        .chatbox > .chatboxhead{ height:26px; background: #666; font-size:20px; padding:3px; color:#CCC; }
        .chatbox > .chatboxbody{ background:#333; padding:1px; color:#FFF; }
        .chatbox > .chatboxfoot{ background: #666; padding:1px; }
        .alert-success { color: #468847; background-color: #dff0d8; border-color: #d6e9c6; }
    </style>
    <script type="text/javascript" src="/angular.treeview-master/angular.treeview.js"></script>
    <link rel="stylesheet" type="text/css" href="/angular.treeview-master/css/angular.treeview.css">
    <script src="/services/docService.js" type="text/javascript"></script>
    <script src="/ctrls/docsController.js" type="text/javascript"></script>
</head>
<body>
<div id="viewport" ng-controller='chatboxController'>
    <!--div class="page-header text-center">
        <h3><span class="fa fa-anchor"></span>CHAT ROOM </h3>by Matteo Palitto
    </div-->
    <table width="100%" height="100%">
    <tr><td width="222">
    <div ng-controller="AccordionCtrl" class="well" style="text-align: center">
      <!--label class="checkbox">
        <input type="checkbox" ng-model="oneAtATime">
        Open only one at a time
      </label-->
      <div ng-hide="! isLogged" class="alert-success">{{username}}
          <a href="/logout" class="btn btn-default btn-xs" ng-hide="! isLogged" ng-click="logout()">Logout</a>
      </div>
      <accordion close-others="oneAtATime">

          <accordion-group heading="Logged in users" is-open="status.isFirstOpen">
              <div ng-repeat="user in userList">
                    <button class="btn btn-info" href='javascript:void(null);' ng-click="CreateBox(user)" style="margin: 2px">
                        <span class="fa fa-user"></span> <strong></strong>{{user}}
                    </button>
              </div>
          </accordion-group>

          <accordion-group heading="Account Management">
            <div class="form-group" align="center">
                <label>New Password</label>
                <input type="password" class="form-control" name="password" ng-model="passwd" ng-value="passwd" style="margin: 2px"/>

                <button type="button" class="btn btn-warning" name="CHGPWD" ng-click="chgpwd(names.username,passwd)" style="margin: 2px">change password</button>
                <button type="button" class="btn btn-warning" name="DELUSER" ng-hide="names.username=='admin'" ng-click="delUser(names.username)" style="margin: 2px">delete Account</button>
            </div>
          </accordion-group>

          <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
            {{group.content}}
          </accordion-group>

          <accordion-group heading="Dynamic Body Content">
            <p>The body of the accordion group grows to fit the contents</p>
              <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
              <div ng-repeat="item in items">{{item}}</div>
          </accordion-group>

          <accordion-group is-open="status.open">
              <accordion-heading>
                  <i>I can have markup, too! </i>
              </accordion-heading>
              This is just some content to illustrate fancy headings.
          </accordion-group>

      </accordion>
    </div>
    </td><td style="vertical-align:top">
    <div id="msgBox" ng-class="alert.type">{{alert.msg}}</div>
    <div class="container" ng-view></div>
    </td></tr></table>
    <div id="chatboxes"> </div>

</div>
</body>
</html>
